

<section id="about">
  <div class="bg_primary">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">ScaleRep Automates all top-of-the-funnel lead engagement</h2>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-users wow bounceIn text-secondary" data-wow-delay=".1s"></i>
                  <a type="button" class="text-secondary" data-toggle="modal" data-target="#automatedTechModal">
                    <h3>Lead Generation</h3>
                  </a>
                  <p class="text-muted">Access our <a href="https://www.getpostings.com" target="_blank">getPostings tool</a> and 300M+ verified contacts database</p>
              </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-bullhorn wow bounceIn text-secondary" data-wow-delay=".2s"></i>
                  <a type="button" class="text-secondary" data-toggle="modal" data-target="#dataModal">
                    <h3>Multi-Channel</h3>
                  </a>
                  <p class="text-muted">Automatically coordinate outreach on email, Linkedin & voicemail</p>
              </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-bullseye wow bounceIn text-secondary"></i>
                  <a type="button" class="text-secondary" data-toggle="modal" data-target="#qualifiedAgentsModal">
                    <h3>Retarget</h3>
                  </a>
                  <p class="text-muted">ScaleRep uses signals to re-engage with leads at the right time.</p>
              </div>
          </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-trophy wow bounceIn text-secondary" data-wow-delay=".3s"></i>
                    <a type="button" class="text-secondary" data-toggle="modal" data-target="#efficientResultsModal">
                      <h3>Efficient</h3>
                    </a>
                    <p class="text-muted">Spend 100% of your time working qualified and high-signal leads.</p>
                </div>
            </div>
        </div>
    </div>
</section>
