<section id="about">
  <div class="bg_primary">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="section-heading-2">ScaleRep automates your top-of-the-funnel engagement</div>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
      <div class="bg-white-primary">
        <div class="group">
          <div class="service-box left">
            <!--<i class="fa fa-4x fa-users wow bounceIn text-secondary" data-wow-delay=".1s"></i>-->
            <h2>Lead Sourcing</h2>
            <p class="text-muted">Narrow-in on your target markets and source over 300M+ leads from multiple sources.</p>
          </div>

          <%= image_tag "source_data.png", class: "bg-primary-right-img", alt: "" %>
        </div>

      </div>

      <div class="bg-white-primary">


          <div class="service-box right">
            <!--<i class="fa fa-4x fa-bullhorn wow bounceIn text-secondary" data-wow-delay=".1s"></i>-->
            <h2>Multi-Channel Outreach</h2>
            <p class="text-muted">ScaleRep automates outreach and retargeting across email, Linkedin & voicemail - all with 0 time spent on your end.</p>
          </div>

          <%= image_tag "retarget", class: "bg-primary-left-img", alt: "" %>

      </div>

      <div class="bg-white-primary">
        <div class="service-box left">
          <!--<i class="fa fa-4x fa-trophy wow bounceIn text-secondary" data-wow-delay=".3s"></i>-->
          <h2>Scale your Engagement</h2>
          <p class="text-muted">We help organizations create an <a href="https://medium.com/@ScaleRep/the-new-assembly-line-in-sales-and-marketing-6056afaa18e7">engagement assembly line</a>. That means you spend all your time working with qualified leads.</p>
        </div>

        <%= image_tag "scale.png", class: "bg-primary-right-img", alt: "" %>
      </div>
  </div>
</section>
