<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Scale your sales with high-quality leads</h2>
                <hr class="primary">
                <p> We execute multi-channel outreach campaigns to set appointments and demos for your sales team. Within 1 week of setup time, we're off and running </p>

                <a href="#contact" class="btn btn-primary btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
