<section id="about">
  <div class="bg_primary">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">ScaleRep manages top-of-the-funnel engagement</h2>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
      <div class="bg-white-primary">
        <div class="group">
          <div class="service-box left">
            <!--<i class="fa fa-4x fa-users wow bounceIn text-secondary" data-wow-delay=".1s"></i>-->
            <h2>Lead Sourcing</h2>
            <p class="text-muted">Source companies and leads from our database of over 300M+ contacts</p>
          </div>

          <%= image_tag "source_data.png", class: "bg-primary-right-img", alt: "" %>
        </div>

      </div>

      <div class="bg-white-primary">


          <div class="service-box right">
            <!--<i class="fa fa-4x fa-bullhorn wow bounceIn text-secondary" data-wow-delay=".1s"></i>-->
            <h3>Multi-Channel Outreach and Retargeting</h3>
            <p class="text-muted">ScaleRep uses automation, AI, and human input to outreach and re-engage with people across email, Linkedin & voicemail at the right time without any work on your end.</p>
          </div>

          <%= image_tag "retarget", class: "bg-primary-left-img", alt: "" %>

      </div>

      <div class="bg-white-primary">

          <div class="service-box left">
            <!--<i class="fa fa-4x fa-trophy wow bounceIn text-secondary" data-wow-delay=".3s"></i>-->
            <h3>Scale your Engagement</h3>
            <p class="text-muted">We help organizations create an <a href="https://medium.com/@ScaleRep/the-new-assembly-line-in-sales-and-marketing-6056afaa18e7">engagement assembly line</a>. That means you spend 100% of your time working with qualified leads.<br/>Stop chasing. Start Selling!</p>
          </div>

          <%= image_tag "scale.png", class: "bg-primary-right-img", alt: "" %>


      </div>
  </div>
</section>
