<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <div class="text-center">
                <h2 class="section-heading">We believe that most business workflows require a touch of the human element. Though more and more automation tools are being
            	built to meet your needs, the human labor behind these tasks can make your business processes inefficient. That's why we built ScaleRep - your "solution of solutions", that ties your workflows together.</h2>
                <hr class="primary">
            </div>




            <a href="#contact" class="btn btn-primary btn-xl wow tada">Chat with an expert</a>
        </div>
    </div>
</aside>
