<aside class="bg-dark">
    <div class="container">
        <div class="call-to-action">
            <div class="">
                <h2 class="section-heading">
                  Our automated software and human processes engage with your top-of-the-funnel leads for you. That's more opportunities and more time selling.
              </h2>
                <hr class="primary">
            </div>

            <% if false %>
            <div class = "text-center">
              <a href="#contact" class="btn btn-primary btn-xl wow tada">Chat with an expert</a>
            </div>
            <% end %>

        </div>
    </div>
</aside>
