<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">
	<hr width="90%">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

        	<div class="footer-copyright py-3 text-center">
        		© Updated 4.1.2018
    		</div>

            <!--First column-->
            <div>
                <p>All rights reserved</p>
            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
                 