
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Top of the funnel sales team</h1>
            <hr>
            <br><br><br>
            <p>Sales Reps spend only 25% of their time selling; let's make that 80%</p>

            <a href="#services" class="btn btn-primary btn-xl page-scroll">How We Help</a>
        </div>
    </div>

</header>
