
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Top of The Funnel Sales Team</h1>
            <hr>
            <br><br><br>
            <p>Scaling your sales has never been this easy!</p>

            <a href="#contact" class="btn btn-primary btn-xl page-scroll">REQUEST CONSULTATION</a>
        </div>
    </div>

</header>
