
<header>

    <div class="header-content">
        <h1>Stop Chasing<br>Start Selling</h1>
        <div class="header-content-inner">

            <hr>
            <br><br><br>
            <p>ScaleRep manages all top-of-the-funnel engagment<br>so that your sales team can focus on selling</p>
        </div>
        <div class="header-text-space">
          <a href="#contact" class="btn btn-primary btn-xl page-scroll">REQUEST DEMO</a>
        </div>
    </div>

</header>
