
<header>

    <div class="header-content">
        <h1>Your Plug-and-Play Sales Team </h1>
        <!--<h2>Stop Chasing. Start Selling</h2>-->
        <div class="header-content-inner">
          <hr>
          <p>Finally, the B2B engagement platform that saves your team hours a day.</p>
        </div>
        <div class="header-text-space">
          <a href="#contact" class="btn btn-primary btn-xl page-scroll">request a demo</a>
        </div>
    </div>

    <div class="header-image">
      <%= image_tag "computer_screen_example_2.png", class: "img-computerscreen", alt: "" %>
    </div>

</header>
