
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Stop Chasing.<br>Start Selling.</h1>
            <hr>
            <br><br><br>
            <p>Engage your community of leads so that<br>your sales team can do what it does best...sell</p>

            <a href="#contact" class="btn btn-primary btn-xl page-scroll">REQUEST DEMO</a>
        </div>
    </div>

</header>
