
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Human Intelligence for B2B Sales</h1>
            <hr>
            <br><br><br>
            <p>Plugging into your workflow to automate your most repetitive, time consuming processes</p>

            <a href="#services" class="btn btn-primary btn-xl page-scroll">How We Help</a>
        </div>
    </div>    

</header>


