
<header>

    <div class="header-content">
        <h1>Your Automated Engagement Platform</h1>
        <!--<h2>Stop Chasing. Start Selling</h2>-->
        <div class="header-content-inner">
          <hr>
          <p>ScaleRep automates top-of-the-funnel engagement for marketing, sales, growth, and customer success teams.</p>
        </div>
        <div class="header-text-space">
          <a href="#contact" class="btn btn-primary btn-xl page-scroll">request a demo</a>
        </div>
    </div>

    <div class="header-image">
      <%= image_tag "computer_screen_example_2.png", class: "img-computerscreen", alt: "" %>
    </div>

</header>
