<section id="blog">
  <div class="row">
      <div class="text-center container">
          <h2 class="section-heading">Visit the <%= link_to "ScaleRep Blog", "https://www.medium.com/@scalerep", target: "_blank"  %></h2>
          <p class="section-sharing">to find more articles on increasing your engagement!</p>
      </div>
  </div>
  <br><br>

  <div class="container">
    <% Medium_News.medium_news.each_with_index do |article, index| %>
      <% if index == 1 %>
        <div class="row">
      <% end %>

      <div class="column">
        <%= link_to image_tag("#{article[:img]}", :class => "blog_image left"), article[:link], target: "_blank" %>
        <div class='blog-titles'><%= link_to article[:title], article[:link], target: "_blank", class:'h4'%></div>
      </div>

      <% if index == 1 %>
        </div>
      <% end %>
    <% end %>
  </div>

</section>
