<!-- Modal file that provide additional
---- informationon every point brought up
-->

<!-- automatedTechModal -->
<div class="modal fade" id="automatedTechModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="automatedTechModal"><b>Technology at the speed of light</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        ScaleRep engages customers through several channels and has built-in logic to engage folks based on actions they take. Our data-driven processes make sure that you reach out to prospective clients when and where it matters most.
      </div>

      <br/>
      <%= image_tag "creative/marketing_automation.svg", class: "img-responsive", alt: "" %>



    </div>
  </div>
</div>


<!-- qualifiedAgentsModal -->
<div class="modal fade" id="qualifiedAgentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><b>The best scale reps at your service</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We’ve attract the most qualified people to monitor your top-of-the-funnel sales processes. Our on-demand ‘scale reps’ have multiple years of sales experience, and our clients trust interactions their prospective customers to our agents. 
      </div>

      <br/>
      <%= image_tag "creative/best_people.png", class: "img-responsive", alt: "" %>

    </div>
  </div>
</div>


<!-- liveUpdatesModal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><b>Always know what's going on</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Always know how your outreach campaigns are performing, what mediums work best, and how many appointments have been scheduled for your account executives.
      </div>

      <br/>
      <%= image_tag "creative/actionable_lead.jpg", class: "img-responsive", alt: "" %>

    </div>
  </div>
</div>

<!-- efficientResultsModal -->
<div class="modal fade" id="efficientResultsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><b>Data-Driven, Efficient Outcomes</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Our proprietary data-driven processes and experience in providing qualified sales leads make us half the price of hiring your own SDRs, all without the hassle of managing and training your team.
      </div>

      <br/>
      <%= image_tag "creative/efficient_results.jpg", class: "img-responsive", alt: "" %>

    </div>
  </div>
</div>
