
<section id="services">
  <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Turn your sales into an assembly line</h2>
                <p> ScaleRep's service automates your most repetitive, time consuming processes</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
              <div class="service-box1">
                <div class="text-center service-box-content">
                  <i class="fa fa-4x fa-magic wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <a type="button" class="" data-toggle="modal" data-target="#automatedTechModal">
                    <h3>Data Sourcing</h3>
                  </a>
                  <p class="text-muted"> Constantly surface new leads that match your optimal buyer persona.
                  </p>

                </div>
              </div>


              <div class="service-box2">
                <div class="text-center service-box-content">
                  <i class="fa fa-4x fa-commenting wow bounceIn text-primary" data-wow-delay=".2s"></i>
                  <a type="button" class="" data-toggle="modal" data-target="#dataModal">
                    <h3>Lead / Client Outreach</h3>
                  </a>
                  <p class="text-muted">We'll manage your outreach campaigns so that your team doesn't waste time tracking leads!</p>
                </div>
              </div>


              <div class="service-box3">
                <div class="text-center service-box-content">
                  <i class="fa fa-4x fa-calendar-plus-o  wow bounceIn text-primary"></i>
                  <a type="button" class="" data-toggle="modal" data-target="#qualifiedAgentsModal">
                    <h3>Qualification</h3>
                  </a>
                  <p class="text-muted">We'll perform initial screenings to qualify potential clients.</p>
                </div>
              </div>

              <br>
              <br>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Have custom workflows?</h2>
                    <hr class="primary">
                  </div>
                </div>
              </div>


                <div class="service-box4">
                  <div class="text-center service-box-content">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <a type="button" class="" data-toggle="modal" data-target="#efficientResultsModal">
                      <h3>Custom Workflow</h3>
                    </a>
                    <p class="text-muted">Have repetitive workflows? We'll integrate into your toolset and create a custom solution! </p>
                  </div>
                </div>

        </div>
    </div>
</section>
