<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Just sold a property? Let the neighborhood know!</h2>
              <p>Neighborhood outreach yields great ROI, but it's an expensive, time consuming, and outdated process. Loreta by ScaleRep executes omni-channel campaigns for residential and commercial realtors to find your next listing.<p>
            </div>

            
        </div>
    </div>
</section>
