<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Get your next listing from your current success.</h2>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
              <p><br>Neighborhood outreach yields great ROI, but it's an expensive, time consuming, and outdated process.<br><br> Loreta executes multi-channel campaigns for residential and commercial realtors to share details of your current sale to your next prospective clients.<p>
            </div>


        </div>
    </div>
</section>
