<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Just sell a property? Let the neighborhood know!</h2>
                <hr class="primary">
                <p> Neighborhood outreach yields great ROI. The dilemma? It's a long, expensive, and time consuming process. That's why we've volunteered to do this on your behalf.  We execute omni-channel campaigns for residential and commercial realtors across California.</p>

                <a href="#contact" class="btn btn-primary btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
