<aside class="bg-dark">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How We Help</h2>
                <hr class="primary">
            </div>
        </div>

        <div class="col-lg-8 col-lg-offset-2">
                <h3>Lead Generation</h3>
                <p>
                  Sit back, and watch your lead list populate. We've integrated with over 7 sources to surface great potential homeowners.
                </p>
                <br>
                <h3 class="topSpace">Running Your Campaigns</h3>
                <p>
                   We'll work with you to get your campaign off and running. As your campaign starts you'll be notified of warm leads.
                </p>
                <br>
                <h3 class="topSpace">ROI and Metrics</h3>
                <p>We make sure leads meet your criteria of a qualified lead. Using key metrics, we'll track the best methods of outreach on your behalf</p>

            </div>

    </div>
</aside>
