<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Just Sold Marketing</h1>
            <hr>
            <br><br><br>
            <p> Helping realtors inform local property owners about your recently sold listing! </p>

            <a href="#services" class="btn btn-primary btn-xl page-scroll">Learn More!</a>
        </div>
    </div>
</header>
