<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Local Targeting for Realtors</h1>
            <hr>
            <br><br><br>
            <p> Loreta engages with people nearby your latest home sale so that you can grow your business</p>

            <a href="#services" class="btn btn-primary btn-xl page-scroll">Learn More!</a>
        </div>
    </div>
</header>
