<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Local Targeting for Realtors</h1>
            <hr>
            <br><br><br>
            <p>Get your next listing from your current success. <br>That's local momentum marketing at its finest.</p>

            <a href="#services" class="btn btn-primary btn-xl page-scroll">Learn More!</a>
        </div>
    </div>
</header>
