<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Local Realtor Targeting</h1>
            <hr>
            <br><br><br>
            <p> Tired of prospecting? Introducing LoReTa - engaging people nearby your latest home sell.</p>

            <a href="#services" class="btn btn-primary btn-xl page-scroll">Learn More!</a>
        </div>
    </div>
</header>
