<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">You delegate. We take care of the rest</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-magic wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>1. Property Sold</h3>
                  <p class="text-muted">Congratulations! Update ScaleRep with your recently sold listing.</p>
              </div>
          </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary"></i>
                    <h3>2. Campaign Magic</h3>
                    <p class="text-muted">We'll execute multichannel drip campaigns targeted to property owners near your sale.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Live Updates</h3>
                    <p class="text-muted">Get live-time updates as people express interest & follow-up directly with them.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Efficent Results</h3>
                    <p class="text-muted">Clients see an average of 5 prospective clients with every listing they use Loreta for!</p>
                </div>
            </div>



        </div>
    </div>
</section>
