<%= form_for(data_upload) do |f| %>
  <% if data_upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_upload.errors.count, "error") %> prohibited this data_upload from being saved:</h2>

      <ul>
      <% data_upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
