
<div class="user-page">
<h1><%= @user.client_company.name if @user.client_company %> Reports</h1>
<br>
<div class="column">
      <table class="table">
        <tbody>
          <% @reports.each do |f| %>

            <tr>
              <%= f.report %>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
</div>
