	<div id="title" class="jumbotron">
  		<div class = "container">
    	<br/>
   		 <h1><%= @user.client_company.name %> Onboarding</h1>
			 <h2><%= @user.email if @user.email %></h2>
  		</div>
	</div>

	<div class="container">

		<h3>Welcome to ScaleRep!</h3>

		<p style="margin-bottom:40px;">
			Below are the necessary steps to complete the ScaleRep onboarding process.<br/>
			E-mail your account manager, dean@scalerep.com, with any questions!
		</p>

		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<h3>
					Complete <%= link_to " Account Information ", edit_client_company_path(@client_company.id) %>(10 min.)

					<% if @user.client_company.profile_setup == true  %>
						&nbsp; <span class="badge badge-secondary">Completed</span>
					<% else %>
					  &nbsp; <span class="badge badge-secondary">Pending</span>
					<% end %>
				</h3>
			</li>

			<li class="list-group-item">
		    <h3>
					Add dean@scalerep.com to your <a target="_blank" href="https://slack.com">slack team</a> to get help and ask questions</a>

					<% if @user.client_company.profile_setup == true  %>
						&nbsp; <span class="badge badge-secondary">Completed</span>
					<% else %>
						&nbsp; <span class="badge badge-secondary">Pending</span>
					<% end %>
				</h3>
			</li>


			<li class="list-group-item">
				<h3>Domain and e-mail account set up. Contact your accout manager for updates.

					<% if @user.client_company.profile_setup == true  %>
						&nbsp; <span class="badge badge-secondary">Completed</span>
					<% else %>
						&nbsp; <span class="badge badge-secondary">Pending</span>
					<% end %>
				</h3>
			</li>
		</ul>

    <% if false %>
	    <h3> 3. <%= link_to "Setup Your Campaigns! (8 mins.)", { controller: "campaigns", action: "index", id: @user.id} %></h3>
	    <br>
	    <br>
    <% end %>
	</div>
