	<div id="title" class="jumbotron">
  		<div class = "container">
    	<br/>
   		 <h1><%= @user.client_company.name %> Onboarding</h1>
		 <h2>User E-mail: <%= @user.email if @user.email %></h2>
  		</div>
	</div>

	<div class="container">

			
		<h3>1. <%= link_to "Setup Account Seating and E-mails (10 min.)", edit_client_company_path(@client_company.id) %>
			<% if @user.client_company.profile_setup == true  %> 
				<span style="color:green">-- Completed --</span>
			<% else %>
			    <span style="color:red">-- Action Pending - Complete all fields --</span>
			<% end %>
		</h3>

		<br>


		

	    <h3> 2. Add dean@scalerep.com to your <a target="_blank" href="https://slack.com">slack team</a> to get help and ask questions!</a></h3>
	    <br>

	    <h3> * Remember, e-mails take 4-6 weeks to warm-up.</a></h3>
	    <br>

	    	
	    <% if false %>
	    <h3> 3. <%= link_to "Setup Your Campaigns! (8 mins.)", { controller: "campaigns", action: "index", id: @user.id} %></h3>
	    <br>
	    <br>
	    <% end %>


	    

	    <br>
	    <br>
	    <h3> ...very soon, you'll be off to a great start!</h3>
	    	

	</div>