<div id="title" class="jumbotron">
  <div class = "container">
    <br/>
    <h1>User Account for <%= @user.first_name if @user.client_company %></h1>
		<h2>Account Owner: <%= @user.first_name if @user.first_name %></h2>
		<h2>Email: <%= @user.email if @user.email %></h2>
  </div>
</div>

<div class="container">
	<h1> Setup <h1>

		<h3> Seating Setup </h3>

			<p> Choose an e-mail domain that is available on namecheap.com </p>

			<p> How many e-mails would you like to set-up under the domain? (Each e-mail will be able to outreach to 500 unique emailsweekly) </p>

	    	<p> What are the emails and email names you would like to use?</p>

	    <h3> Company Information </h3>

	    	<p> What does your company do in a paragraph </p>

	    	<p> What products do you provide </p>

	    	<p> What are some notable clients that you work with </p>

	    	<p> Do you have data available for retargeting campaigns? </p>






</div>


		
		

