<div id="title" class="jumbotron">
  <div class = "container">
    <br/>
    <h1>Edit Persona</h1>
  </div>
</div>

<%= render 'form', persona: @persona %>

<div>

<div class = "container">
<%= link_to 'Back', personas_path %>
</div>
