<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Our platform will update you as soon as a lead that is spoken to, qualified, and ready to meet. Get more leads at half the price of an ISA team!</p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

