<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Lead Conversion At Its Finest</h1>
            <hr>
            <br><br><br>
            <p>ScaleRep is your fully automated ISA Team! We focus on your lead conversion, so that you can focus on what's most important - your business.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

