<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Lead Conversion At Its Finest</h1>
            <hr>
            <br><br><br>
            <p>Better technology, qualified agents, more leads. Think of us as your Sales Development Team.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

