<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>qualfied leads. No hassle</h1>
            <hr>
            <br><br><br>
            <p>Outsource your top-of-the-funnel sales prospecting so you can focus on selling.</p>

            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Request Consultation</a>
        </div>
    </div>
</header>
