/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*/
//= require bootstrap-datepicker
//= require bootstrap-toggle


@import "bootstrap";
@import "campaigns";
@import "leads";
@import "metrics";
@import "salesforces";
@import "sessions";


/* General Tool Tip */
.tooltip-head{
  color: #fff;
  background: #000;
  padding: 10px 10px 2px;
  border-radius: 4px 4px 0 0;
  margin-bottom: -2px; /* Hide default tooltip rounded corner from top */
}



/* Notice message default */
.notice {
  margin-top: 50px;
  color: green;
  background-color: white;
}



/* Error message default */
.error {
  margin-top: 50px;
  color: red;
  background-color: white;
}



/* Jumbotron is the header design of each page*/
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background: #eee;
}
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 50px;
  }
}



/* Nav Bar*/
.na-left {
  margin-left: 5px;
  margin-bottom: 2px;
}