// Place all the styles related to the campaign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campaign_info_header {
  font-size:25px;
}

.campaign_info {
  margin-left:20px;
  font-size:20px;
}

.campaign_info_pct {
  margin-left: 20px;
  font-size:15px;
}


.sequence {
  margin-top:100px;
}

.email_template {
  margin-top: 50px;
}

.card-text {
  margin-top:20px;
}
