// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table-display {
  width: 95%;
  margin: 0 auto;
  font-size: 11px;
}

.add_campaign {
  margin-top:20px;
}
