// Place all the styles related to the Salesforces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border-sf-option {
  border: 1px solid;
  border-radius: 25px;
  padding: 20px;
  color: #007bff;
}
