<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">
	<hr width="90%">

    <!--Footer Links-->
    <div class="container	">
        <div class="row">

        	<div class="footer-copyright py-3">
        		© Updated 4.28.2018 &nbsp; &nbsp;  All rights reserved
            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->

    <!--/.Copyright-->

</footer>
<!--/.Footer-->
