<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">
	<hr width="90%">

    <!--Footer Links-->
    <div class="container container-fluid text-center">
        <div class="row">
        		© Updated <%= Time.now.strftime("%m/%d/%Y") %> &nbsp; &nbsp;  All rights reserved
        </div>
    </div>


</footer>
<!--/.Footer-->
